.center{
    display: flex;
    justify-content: center;
}
  .spisok{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
  }  
  li{
    font-size: 20px; /*размер шрифта */
    width: 200px;
  }
 